RewriteEngine On
RewriteBase /FindHouse
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|asset|css|js|less)
RewriteRule ^(.*)$ /FindHouse/index.php?/$1 [L]
